	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">EX<i class="fa fa-circle"></i>PANDA
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><%= link_to "HOME", root_path %></li>
					<li><%= link_to "EVENT", events_path %></li>
					<li><%= link_to "REGISTRATION", omniauth_authorize_path(User, 'facebook') %></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- headerwrap -->
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>
						今までに無い、<b>新しい経験をしよう</b>
					</h1>
					<h2>EXPANDAで世界が広がる</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- container -->
	<div class="container desc">
		<div class="row">
			<br>
			<br>
			<div class="col-lg-6 centered">
				<img src="img/friends.jpg" alt="" width="500px" height="400px">
			</div>
			<!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>LGBTの会 vol.4</h4>
				<p>82新宿三丁目店　[東京都]</p>
				<p>友達の友達は皆友達、という名目で始めた会ですが、好評につき今回第４回目となります！Lesbian, Bisexual の方を中心とした20代〜40代女性が40〜50名ほど、貸切のアイリッシュパブに集まり、話したい人は話す、飲みたい人は飲む(美味しいビールやカクテルが飲み放題)、食べたい人は食べる(美味しいフィッシュ&チップスやピザ！)という、とても自由な雰囲気の会になっています。
				<p>
					<i class="fa fa-circle-o"></i>参加費：3,000円<br />
					<i class="fa fa-link"></i> <a href="Event.html">Event.html</a>
				</p>
			</div>
		</div>

		<br>
		<br>
		<hr>
		<br>
		<br>
		<div class="row">
			<div class="col-lg-6 centered">
				<img src="img/movie.jpg" alt="" width="500px" height="400px">
			</div>
			<!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>映画鑑賞＋座談会</h4>
				<p>TOHOシネマズ 新宿　[東京都]</p>
				<p>今話題の「アクアマン」をみんなで観に行きましょう。DCコミックス原作のヒーローで、「ジャスティス・リーグ」にも参戦したアクアマンを主役に描くアクション大作。人気テレビシリーズ「ゲーム・オブ・スローンズ」で知られるハワイ出身の俳優ジェイソン・モモアがタイトルロールのアクアマンを演じ、共演にニコール・キッドマンも。鑑賞後、簡単な座談会を予定してます。</p>
				<p>
					<i class="fa fa-circle-o"></i>参加費：500円<br />
					<i class="fa fa-circle-o"></i>※映画チケット費、食費は含まれません<br />
					<i class="fa fa-link"></i> <a href="Event.html">Event.html</a>
				</p>
			</div>
		</div>

		<br>
		<br>
		<hr>
		<br>
		<br>
		<div class="row">
			<div class="col-lg-6 centered">
				<img src="img/camping.jpg" alt="" width="500px" height="400px">
			</div>
			<!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>キレイな星空の下でキャンプ</h4>
				<p>カヤの平高原キャンプ場　[長野県]</p>
				<p>自然休養林に指定されているカヤの平高原は、標高1400～1700mに広がる高原です。ブナの原生林や高原植物もみられる自然の中のキャンプ場です。標高が高いので空気が澄んでいて、好天の日なら落ちてきそうなぐらいの満天の星を見ることができます。普段見慣れない星空で感動すること間違いないでしょう。明け方は幻想的な景色にまた感動します。</p>
				<p>
					<i class="fa fa-circle-o"></i>参加費：2,000円<br />
					<i class="fa fa-circle-o"></i>※移動費、食費は含まれません<br />
					<i class="fa fa-link"></i> <a href="Event.html">Event.html</a>
				</p>
			</div>
		</div>
		<br>
		<br>
	</div>

	<!-- FOOTER 上-->
	<div id="r">
		<div class="container">
			<div class="row centered">
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<div id="copyrights">
		<div class="container">
			<p>
				<strong>EXPANDA</strong>
			</p>
		</div>
	</div>