= form_for @schedule do |f|
  - if @schedule.errors.any?
    #error_explanation
      h2 = "#{pluralize(@schedule.errors.count, "error")} prohibited this schedule from being saved:"
      ul
        - @schedule.errors.full_messages.each do |message|
          li = message

  .actions = f.submit
