
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="Top.html">EX<i class="fa fa-circle"></i>PANDA
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "HOME", root_path %></li>
					<li><%= link_to "EVENT", events_path %></li>
					<!--<li class="active"><a href="Registration.html">REGISTRATION</a></li>-->
				</ul>
			</div>
		</div>
	</div>

	<!--<div id="blue">-->
	<!--	<div class="container">-->
	<!--		<div class="row centered">-->
	<!--			<div class="col-lg-8 col-lg-offset-2">-->
	<!--				<h4>スケジュール登録</h4>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</div>-->
	<!--</div>-->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>
						<b>Register Your Schedule</b>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- from -->
	<div class="container w">
		<h4>あなたの予算を入れてください</h4>
		<form class="" action="" method="post">
			<label for="field1"> <span>予算/月</span> <select name="金額">
					<option value="mny">1000</option>
					<option value="mny2">2000</option>
					<option value="mny3">3000</option>
					<option value="mny3">4000</option>
					<option value="mny3">5000</option>
					<option value="mny3">6000</option>
					<option value="mny3">7000</option>
					<option value="mny3">8000</option>
					<option value="mny3">9000</option>
					<option value="mny3">10000</option>
				</select> <a>円</a>
			</label>
			<br>
		<br>
			<h4>あなたが空いている日時を入れてください</h4>
			<label for="field3"> <span>予定</span>
				<input type="date" name="example2" value="2019-03-17">

				<form class="from_Style" action="" method="post">
					<label for="field1"> <span>時間帯</span> <select name="時間帯">
							<option value="mny">AM</option>
							<option value="mny2">PM</option>
							<option value="mny3">AM&PM</option>
						</select>
					</label>
					
			<label for="field3"> <span>予定</span>
				<input type="date" name="example2" value="2019-03-17">

				<form class="from_Style" action="" method="post">
					<label for="field1"> <span>時間帯</span> <select name="時間帯">
							<option value="mny">AM</option>
							<option value="mny2">PM</option>
							<option value="mny3">AM&PM</option>
						</select>
					</label>
				
					<!--	<select name="年">
					

					<option value="mny" selected>2019</option>
			</select> <a>年</a> <select name="月">
					<option value="mny" selected>3</option>
			</select> <a>月</a>
			</label>-->

					<!-- カレンダー -->
					<!--			<div class="wrapper">
				<main>
				<div class="toolbar">
					<div class="current-month">March 2019</div>
				</div>
				<div class="calendar">
					<div class="calendar__header">
						<div>sun</div>
						<div>mon</div>
						<div>tue</div>
						<div>wed</div>
						<div>thu</div>
						<div>fri</div>
						<div>sat</div>
					</div>
					<div class="calendar__week">
						<div class="calendar__day day">24</div>
						<div class="calendar__day day">25</div>
						<div class="calendar__day day">26</div>
						<div class="calendar__day day">27</div>
						<div class="calendar__day day">28</div>
						<div class="calendar__day day">1</div>
						<div class="calendar__day day">2</div>
					</div>
					<div class="calendar__week">
						<div class="calendar__day day">3</div>
						<div class="calendar__day day">4</div>
						<div class="calendar__day day">5</div>
						<div class="calendar__day day">6</div>
						<div class="calendar__day day">7</div>
						<div class="calendar__day day">8</div>
						<div class="calendar__day day">9</div>
					</div>
					<div class="calendar__week">
						<div class="calendar__day day">10</div>
						<div class="calendar__day day">11</div>
						<div class="calendar__day day">12</div>
						<div class="calendar__day day">13</div>
						<div class="calendar__day day">14</div>
						<div class="calendar__day day">15</div>
						<div class="calendar__day day">16</div>
					</div>
					<div class="calendar__week">
						<div class="calendar__day day">17</div>
						<div class="calendar__day day">18</div>
						<div class="calendar__day day">19</div>
						<div class="calendar__day day">20</div>
						<div class="calendar__day day">21</div>
						<div class="calendar__day day">22</div>
						<div class="calendar__day day">23</div>
					</div>
					<div class="calendar__week">
						<div class="calendar__day day">24/31</div>
						<div class="calendar__day day">25</div>
						<div class="calendar__day day">26</div>
						<div class="calendar__day day">27</div>
						<div class="calendar__day day">28</div>
						<div class="calendar__day day">29</div>
						<div class="calendar__day day">30</div>
					</div>
				</div>-->
				<br>
				<br>
					<h4>興味関心</h4>
					<label for="field4"> 
						<span><a><input type="checkbox" name="checkbox1" value="スポーツ">スポーツ</a></span>
						<span><a><input type="checkbox" name="checkbox2" value="旅行">旅行</a></span> 
						<span><a><input type="checkbox" name="checkbox3" value="音楽">音楽</a></span> 
						<span><a><input type="checkbox" name="checkbox4" value="読書">読書</a></span> 
						<span><a><input type="checkbox" name="checkbox5" value="酒">酒</a></span>
						<span><a><input type="checkbox" name="checkbox6" value="グルメ">グルメ</a></span>
					</label>
					<br>
					<br>
					<div>
							<a href="/events"><button type="button" >OK</button> </a>
					</div>
					</main>
	</div>
	</form>
	</div>

	<!-- FOOTER 上-->
	<div id="r">
		<div class="container">
			<div class="row centered"></div>
		</div>
	</div>

	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a><a
				 href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
			</div>
		</div>
	</div>

	<div id="copyrights">
		<div class="container">
			<p>
				<strong>EXPANDA</strong>
			</p>
		</div>
	</div>