	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="Top.html">EX<i class="fa fa-circle"></i>PANDA
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "HOME", root_path %></li>
					<li><%= link_to "EVENT", events_path %></li>
					<!--<li class="active"><a href="Registration.html">REGISTRATION</a></li>-->
				</ul>
			</div>
		</div>
	</div>

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>
						<b>Register Your EVENT</b>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- from -->
	<div class="container w">

		<form class="" action="" method="post">
			<h4>イベントのタイトルを入力してください</h4>
			<input type="text" name="title" size="30" maxlength="20">
			<br>
			<br>
			<h4>イベントの内容を入力してください</h4>
			<textarea rows="10" cols="60">ここに記入してください</textarea>
			<br>
			<br>
			<h4>参加費</h4>
			<input type="text" name="parice" placeholder="¥" size="30" maxlength="20">
			<br>
			<br>
			<h4>日時</h4>
			<input type="date" name="example2" value="2019-03-17">

			<form class="from_Style" action="" method="post">
				<label for="field1"> <span>時間帯</span> <select name="時間帯">
						<option value="mny">AM</option>
						<option value="mny2">PM</option>
						<option value="mny3">AM&PM</option>
					</select>
				</label>
				<br>
				<br>
				<div>
					<a href="event_detail.html"><button type="button" >登録</button></a>
					<br>
					<br>
				</div>
				</main>
	</div>
	</form>
	</div>

	<!-- FOOTER 上-->
	<div id="r">
		<div class="container">
			<div class="row centered"></div>
		</div>
	</div>

	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a><a
				 href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
			</div>
		</div>
	</div>

	<div id="copyrights">
		<div class="container">
			<p>
				<strong>EXPANDA</strong>
			</p>
		</div>
	</div>