/*****
main
*****/

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
}

/******
 Title
*******/

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

/**
p
**/

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/**
a
**/

a {
  color: #f85c37;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav>.active>a {
  background: #ff7878
}

.navbar-inverse .navbar-brand {
  color: #999999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
  color: #ff7878;
  font-size: 22px;
  letter-spacing: 1px;
}

/**_*
tilt
****/

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/****************
   Wrap Sections
*****************/

#headerwrap {
  background: url(../img/topimage.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 100px;
  color: white;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#headerwrap h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 768px ) {
  #headerwrap h1 {
    font-size: 50px;
  }

  #headerwrap h2 {
    font-size: 30px;
  }
}

/*
dv #dg
*/

#dg {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dg h4 {
  font-weight: 700;
}

/**********
Light Grey
***********/

#lg {
  background: #ebebeb;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#lg h4 {
  font-weight: 700;
}

/*********
 Red Wrap
 *********/

#r {
  background: #ff7878;
  padding-top: 35px;
  padding-bottom: 35px;
}

#r h4 {
  color: white;
  font-weight: 700;
}

#r p {
  color: white;
}

/**********
 Blue Wrap
 **********/

#blue {
  background: #3498db;
  padding-top: 35px;
  padding-bottom: 35px;
}

#blue h4 {
  color: white;
  font-weight: 700;
}

#blue p {
  color: white;
}

/***********
 Footer
 ***********/

#f {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 30px;
}

#f i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}

#f i:hover {
  color: #ff7878;
}

/*********
 SECTIONS
 *********/

.w {
  padding-top: 35px;
}

.w h4 {
  font-weight: 700;
}

.w i {
  color: #ff7878;
  font-size: 30px;
}

.wb {
  padding-top: 35px;
  margin-bottom: 0px;
}

.wb h4 {
  font-weight: 700;
}

.desc {
  padding-top: 35px;
}

.desc h4 {
  font-weight: 700;
}

.desc i {
  color: #ff7878;
  font-size: 12px;
  padding: 5px;
}

/**************
 MODAL CONTACT
 *************/

.modal-content {
  border-radius: 0px;
}

.modal-header {
  background: #bdbdbd;
  color: white;
}

.modal-header h4 {
  font-weight: 700;
}

.modal-body {
  background: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

.modal-footer {
  background: #f2f2f2;
  margin-top: 0px;
}

/*****************
   Pricing Tables
******************/

.pricing-option {
  padding-bottom: 40px;
}

.pricing-option .pricing-top {
  position: relative;
  background: #222;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 40px 20px 30px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pricing-option .pricing-top .special-label {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #1abc9c;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 0;
}

.special .pricing-top {
  background: black;
}

.pricing-option .pricing-edition {
  text-transform: uppercase;
  display: block;
  font-size: 25px;
  letter-spacing: 8px;
}

.pricing-option .price {
  display: inline-block;
  position: relative;
}

.pricing-option .price sup {
  position: absolute;
  top: 50px;
  left: -10px;
  font-size: 24px;
}

.pricing-option .price .price-amount {
  font-size: 108px;
  letter-spacing: -4px;
}

.pricing-option .price small {
  position: relative;
  left: -10px;
  font-size: 18px;
}

.pricing-option ul {
  list-style: none;
  margin: 0;
  background: #eee;
  text-align: center;
  padding-left: 0px;
}

.pricing-option ul li {
  border-bottom: solid 1px #e1e1e1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing-option .pricing-signup {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 10px;
  color: white;
  background: #1abc9c;
}

.pricing-option .pricing-signup:hover {
  background: #ff7878;
}

/************
Form
*************/

.contact-form {
  text-align: left;
  padding: 0 15px;
}

.contact-form label {
   color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button  {
  background: #d9534f;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #e65f5b;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  border-radius: 50%;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

/****************
Loding animation
*****************/

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/******
footer sita
******/

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

#copyrights p {
  margin-bottom: 5px;
}

.credits {
  color: #999;
}

/******
button
******/

.button_wrapper{
   text-align:center;
}